html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.left-menu button, .right-menu button {
    background: none;
    border: none;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.search-bar input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.path {
    padding: 10px 20px;
    font-size: 18px;
}

.board {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.board h1 {
    width: 100%;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.column {
    background-color: #f0f4f8;
    border-radius: 8px;
    padding: 10px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.column h2 {
    color: #333;
    font-size: 24px;
    margin-left: 20px;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Стили для задачи */
.task {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: grab;
    overflow: hidden;
}

.task-priority {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.task-priority {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.task-priority.low {
    background-color: green;
}

.task-priority.medium {
    background-color: yellow;
}

.task-priority.high {
    background-color: red;
}

.task-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9em;
    color: #6c757d;
}

.task-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
}


.task-title {
    font-weight: bold;
}

.task-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px;
}

.task-employee {
    color: #666;
    font-size: 0.9em;
    margin-left: auto;
}

.task-body {
    margin-bottom: 10px;
    word-wrap: break-word;
    margin-left: auto;
}

.task-project {
    background-color: #ffab00;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
}

.task-footer {
    color: #d9534f;
    font-size: 0.9em;
}

.task-assignee, .task-deadline {
    margin-left: 10px;
}

/* Дополнительные стили */
.task:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.deadline {
    font-size: 0.9em;
    font-weight: bold;
}

.deadline-normal {
    color: #333;
}

.deadline-soon {
    color: #d9534f;
}

.deadline-none {
    color: #666;
}

.task span {
    font-size: 14px;
    color: #666;
}

.name h1,.search-bar input {
    margin-left: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    flex-grow: 1;
}

/* Стили для кнопок добавления */
.add-button {
    background-color: #ffffff; /* Цвет фона */
    color: #000AFF; /* Цвет текста */
    border: 2px solid #000AFF; /* Граница кнопки */
    border-radius: 8px; /* Радиус границ */
    padding: 8px 16px; /* Отступы внутри кнопки */
    text-align: center; /* Выравнивание текста */
    font-size: 0.9em; /* Размер шрифта */
    cursor: pointer; /* Курсор указателя */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход для фона и текста */
}

.add-button:hover {
    background-color: #000AFF; /* Цвет фона при наведении */
    color: #ffffff; /* Цвет текста при наведении */
}

/* Дополнительные стили для контейнеров кнопок */
.add-container {
    display: flex;
    justify-content: center;
    margin: 10px 0; /* Отступы сверху и снизу */
}

/* Глобальные стили и фон */
.login-body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, #AFA8FF, #FFE091);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.login-input-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.login-input-group input,
.login-input-group select {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px; /* Отступ снизу для каждого элемента ввода и выбора */
}

/* Стилизация кнопок */
.login-button {
    width: 100%;
    padding: 12px 20px;
    background-color: #667eea;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px; /* Отступ сверху для кнопки */
}

.login-button:hover {
    background-color: #5a67d8;
}

/* Стилизация текста и ссылок */
.login-footer p {
    margin-top: 15px;
    color: #666;
    text-align: center;
}

.login-footer a {
    color: #667eea;
    text-decoration: none;
    text-align: center;
}

.login-footer a:hover {
    text-decoration: underline;
}

.text-success {
    color: green;
}

.text-warning {
    color: yellow;
}

.text-danger {
    color: red;
}

.text-secondary {
    color: gray;
}


/* Основные стили для навигационного списка */
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Выравниваем элементы горизонтально */
    align-items: center; /* Центрируем элементы по вертикали */
}

.nav-list > li {
    margin-right: 20px; /* Отступ справа для каждого элемента списка */
}

/* Стилизация ссылок в навигационном меню */
.nav-list a {
    color: black; /* Устанавливаем цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
}

.nav-list a:hover {
    color: gray; /* Цвет текста при наведении */
    text-decoration: underline; /* Добавляем подчеркивание при наведении, если необходимо */
}

/* Стили для раздела Teams */
.teams-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.department {
    background-color: #c8e6c9;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.department-item, .team-item {
    background-color: #FFD580;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.department-item a, .team-item a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
}

.department h3 {
    text-align: center;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 1.2em;
}


.members-list {
    list-style-type: none;
    padding-left: 0;
    display: none;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 100%;
    top: 0;
}

.members-list li {
    margin-bottom: 5px;
}

.department-item {
    position: relative;
}

.teams-list {
    display: none;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 100%;
    top: 0;
}

.teams-list, .members-list {
    display: none;
}

.department-item:hover, .team-item:hover {
    background-color: #CCFF90; /* Цвет при наведении */
    color: black; /* Цвет текста при наведении */
}

.add-employee, .btn-link {
    color: green;
    cursor: pointer;
    display: block;
    margin-top: 5px;
}



/* Стили для модального окна */
.modal-dialog {
    max-width: 400px; /* Уменьшаем ширину модального окна */
    margin: 1.75rem auto;
}

.modal-content {
    padding: 20px;
}

.modal-header, .modal-body, .modal-footer {
    padding: 10px 20px;
}


select.form-control {
    width: 100%;  /* Устанавливаем ширину для выпадающего списка */
}

select[multiple] {
    height: auto;  /* Устанавливаем автоматическую высоту для множественного выбора */
}


/* Стили для раздела Projects */
.projects-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-item {
    background-color: #FFD580;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.project-item a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
}

.project-item:hover {
    background-color: #CCFF90; /* Цвет при наведении */
    color: black; /* Цвет текста при наведении */
}


.project-details {
    display: none;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 100%;
    top: 0;
}

.project-item:hover .project-details {
    display: block;
}


/* Стили flash-сообщений */
.flash-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    text-align: center;
}

.flash-message .flash-text {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.flash-message .flash-button {
    padding: 10px 20px;
    font-size: 16px;
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
}

.flash-message .flash-button:hover {
    background-color: blue;
    color: #fff;
}

/* Hide flashes */
.flash-hidden {
    display: none;
}

/* Overlay styles */
.flash-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

.flash-overlay.show {
    display: block;
}



/* Trash Bin Styles */
.trash-bin {
    background-color: #f4f4f4;
    border: 3px dashed black; /* Сделать границу пунктиром */
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    margin-left: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Использовать flexbox */
    flex-direction: column; /* Расположить элементы в колонку */
    align-items: center; /* Выровнять элементы по центру горизонтально */
    justify-content: center; /* Выровнять элементы по центру вертикально */
    overflow: hidden; /* Добавьте это свойство */
}

.trash-bin h2 {
    margin: 0; /* Убрать внешние отступы */
    padding-bottom: 10px; /* Добавить нижний внутренний отступ для разделения текста и изображения */
}

.trash-icon {
    width: 50px;
    margin-top: 10px;
}


/* Общий стиль для формы поиска */
.search-form {
    display: flex;
    align-items: center;
}

.form-select {
    width: auto; /* Автоматическая ширина */
    display: inline-block; /* Включаем блочное отображение */
    max-width: 200px; /* Максимальная ширина, чтобы предотвратить слишком большую длину */
}

.search-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-button, .reset-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    height: 38px;
}

.search-button {
    background-color: #fff;
    color: #FFD700;
    border: 2px solid #FFD700;
}

.reset-button {
    background-color: #fff;
    color: red; /* Изменяем цвет текста на красный */
    border: 2px solid red; /* Изменяем цвет рамки на красный */
}

.search-button:hover {
    background-color: #FFD700;
    color: #fff;
}

.reset-button:hover {
    background-color: red;
    color: #fff;
}

.reset-button::after {
    content: "✖";
    font-size: 16px;
    line-height: 16px;
    color: red;
}

.add-task-button {
    display: flex;
    justify-content: flex-end; /* Смещаем кнопку влево */
    margin-right: 20px; /* Убираем кнопку от правой границы */
}

.add-task-button .btn-primary {
    background-color: white; /* Белый фон */
    color: #000AFF; /* Синий текст */
    border: 2px solid #000AFF; /* Синяя граница */
    border-radius: 5px; /* Закругленные углы */
    padding: 8px 12px; /* Отступы внутри кнопки */
}

.add-task-button .btn-primary:hover {
    color: #000AFF; /* Светло-синий фон при наведении */
    color: white; /* Белый текст при наведении */
    border-color: #000AFF; /* Светло-синяя граница при наведении */
}